
body{
    color: #ffffff;
    background: #000;
    font-family: sans-serif;
}
a{
    color:#01d107;
}
a:visited{
    color:#32a836;
}
h1#logo a{
    font-family: monospace;
    color:white;
    text-decoration:overline;
}
